{% extends 'baseadmin.html' %}

{% block title %}管理系统中心{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}

    <div class="uk-width-medium-3-4">
    {% for user in result %}
        <article class="uk-article">
            <p></p>
            <p>userkey：{{ user.userkey }}   剩余次数：{{ user.account }}</p>
        </article>
        <hr class="uk-article-divider">
    {% endfor %}
    </div>
  <div class="uk-width-medium-1-4">
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">友情链接</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="https://www.zhihu.com/">知乎</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="https://www.douban.com/">豆瓣</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="https://pypi.org/">Python</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="https://github.com/">github</a></li>
            </ul>
        </div>
    </div>


{% endblock %}