<!DOCTYPE html>
<html class="uk-height-1-1">
<head>
    <meta charset="utf-8" />
    <title>管理系统中心</title>
    <link rel="stylesheet" href="/static/css/uikit.min.css">
    <link rel="stylesheet" href="/static/css/uikit.gradient.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/sha1.min.js"></script>
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/awesome.js"></script>

    <script>

$(function() {
    var vmAuth = new Vue({
        el: '#vm',
        data: {
            userkey: '',
            nums: ''
        },
        methods: {
            submit: function(event) {
                event.preventDefault();
                var
                    $form = $('#vm'),
                    userkey = this.userkey.trim().toLowerCase(),
                    data = {
                        userkey: userkey,
                        nums: this.nums
                    };
                $.ajax({
                    type: 'POST',
                    url:'{{ url1 }}',
                    data:data, dataType:'json',
                    success:function(data) {
        if(data.msg =="false" ){
            alert("充值失败！");

        }else{
            alert("充值成功！");
            window.location.href=data.url
        }
     }}
                );
            }
        }
    });
});

    </script>
</head>
<body class="uk-height-1-1">
    <div class="uk-vertical-align uk-text-center uk-height-1-1">
        <div class="uk-vertical-align-middle" style="width: 320px">
            <p><a href="/" class="uk-icon-button"><i class="uk-icon-html5"></i></a> <a href="/">Awesome Python Webapp</a></p>
            <form id="vm" v-on="submit: submit" class="uk-panel uk-panel-box uk-form">
                <div class="uk-alert uk-alert-danger uk-hidden"></div>
                <div class="uk-form-row">
                    <div class="uk-form-icon uk-width-1-1">
                        <i class="uk-icon-envelope-o"></i>
                        <input v-model="userkey" name="userkey" type="text" placeholder="userkey" maxlength="50" class="uk-width-1-1 uk-form-large">
                    </div>
                </div>
                <div class="uk-form-row">
                    <div class="uk-form-icon uk-width-1-1">
                        <i class="uk-icon-lock"></i>
                        <input v-model="nums" name="nums" type="text" placeholder="充值次数" maxlength="50" class="uk-width-1-1 uk-form-large">
                    </div>
                </div>
                <div class="uk-form-row">
                    <button type="submit" class="uk-width-1-1 uk-button uk-button-primary uk-button-large"><i class="uk-icon-sign-in"></i> 确定</button>
                </div>
            </form>
        </div>
    </div>
<script src="/static/js/mouse.js"></script>
</body>
</html>
